/* lg */
@media (min-width:1400px) and (max-width:1920px) {
	article.countdown-pan[role="countdown"]{padding-top:31.5%}
	article.introduction-pan[role="introduction"]{ padding-top:23.6%}
	article.subscribe-pan[role="subscribe"],article.contact-pan[role="contact"]{ padding-top:32.6%}
    main[role="main-wrapper-iamge"],main[role="main-wrapper-iamge"] > .over-bg-color{background-position:50% 50%}
}
/* lg */
@media (min-width:1200px) and (max-width:1401px) {
	article.countdown-pan[role="countdown"]{padding-top:20.5%}
	article.introduction-pan[role="introduction"]{ padding-top:10.6%}
	article.subscribe-pan[role="subscribe"],article.contact-pan[role="contact"]{ padding-top:15.6%}
    main[role="main-wrapper-iamge"],main[role="main-wrapper-iamge"] > .over-bg-color{background-position:50% 50%}
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	article.countdown-pan[role="countdown"]{padding-top:31.5%}
	article.introduction-pan[role="introduction"]{ padding-top:23.6%}
	article.subscribe-pan[role="subscribe"],article.contact-pan[role="contact"]{ padding-top:32.6%}
    main[role="main-wrapper-iamge"],main[role="main-wrapper-iamge"] > .over-bg-color{background-position:50% 50%}
}
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	article.countdown-pan[role="countdown"]{padding-top: 45%;}
	article.introduction-pan[role="introduction"]{padding-top: 130px;}
	article.subscribe-pan[role="subscribe"],article.contact-pan[role="contact"]{padding-top: 150px;}
	header[role="header"]{ padding:0 1%}
	header[role="header"] > hgroup nav ul > li{ margin:0 4.5px}
    main[role="main-wrapper-iamge"],main[role="main-wrapper-iamge"] > .over-bg-color{background-position:50% 50%}
}
/* xs */
@media (max-width: 767px) {
	body{background-image:url(../images/bg-co.png),url(../images/bg-image.jpg);background-position:47% 0; position:static; background-size:cover;background-repeat:repeat,no-repeat;}
	main[role="main-wrapper-iamge"],main[role="main-wrapper-iamge"] > .over-bg-color{ position: static; background-image:none}
	main[role="main-wrapper-iamge"]{ background-image: none}
	main[role="main-wrapper-iamge"] > .over-bg-color{ background-color:inherit}
	article.countdown-pan[role="countdown"],article.subscribe-pan[role="subscribe"],article.contact-pan[role="contact"]{padding-left: 10px; padding-bottom: 50px; bottom: 0px; position: fixed}
	article.introduction-pan[role="introduction"]{margin-top: 64px;padding: 25px;background-color: rgba(255,255,255,0.8);}
	
	header[role="header"] > hgroup > h1 > a{width: 250px;font-size:20px;height: 50px;}
	
	header[role="header"]{top: 00px;bottom:inherit;padding:0;}
	header[role="header"] > hgroup{overflow:inherit;padding: 0px;height: 50px;}
	header[role="header"] > hgroup nav{ position: relative;width:100%; text-align:center}
	footer.desk,header[role="header"] > hgroup ul[role="socil-icons"].desk-social{ display:none}
	header[role="header"] > hgroup nav ul,header[role="header"] > hgroup ul[role="socil-icons"]{text-align:center;width:100%;background-color: rgba(255,255,255,0.94);}


ul.nav.nav-tabs.open {}
	header[role="header"] > hgroup nav ul > li{ display:block; margin:0; border-bottom:1px solid #CCC}
	header[role="header"] > hgroup nav ul > li a{ line-height:40px}
	footer.mobile p{ text-align:center; line-height:18px}
	header[role="header"] > hgroup div[role="socil-icons"]{ clear:both; display:block; margin:8px 0}
	header[role="header"] > hgroup div[role="socil-icons"] li{ display:inline-block; margin:0 6px}
	header[role="header"] > hgroup div[role="socil-icons"] li a{ color:#353535}
	header[role="header"] > hgroup div[role="socil-icons"] li a:hover{color:#e84d49}
	
	#menu-button{display: block;position: fixed;right: 10px;font-size:0;background-color:#353535;padding:3px 7px;cursor:pointer;top: 9px;border-radius: 6px;}
	#menu-button:hover{background-color:#e84d49;}
	#menu-button i{font-family:'FontAwesome'; font-size:21px; line-height:23px; color:#FFF; font-weight:normal}
	
	article.introduction-pan[role="introduction"] ul > li,article.contact-pan[role="contact"] ul > li{ display:block; margin:0; margin-bottom:20px}
	article.subscribe-pan[role="subscribe"] form{ width:100%}
	article.subscribe-pan[role="subscribe"] form input[type="email"]{width: 75%;}
	article.contact-pan[role="contact"] h3{ font-size:24px; line-height:26px}
	article header.page-title h2{ font-size:22px}
	footer.mobile{ padding-left: 20px; padding-bottom: 10px; display:block; bottom: 0px; position: fixed}
    
    main[role="main-wrapper-iamge"],main[role="main-wrapper-iamge"] > .over-bg-color{ background-image:url(../images/bg-image.jpg); background-size:cover; background-repeat:no-repeat; position:fixed; background-position:70% 50%; width:100%; height:100%}
    main[role="main-wrapper-iamge"] > .over-bg-color{background-color:rgba(255,255,255,0.4); background-image:none; padding:0}
    
}
@media (max-width:414px) {
	article.countdown-pan[role="countdown"],article.subscribe-pan[role="subscribe"],article.contact-pan[role="contact"]{background-color: rgba(255,255,255,0.8);padding: 15px;margin-left: -17px;margin-bottom: 69px;bottom: 0px;position: fixed;}
    article[role="countdown"].countdown-pan h2{font-family: 'Oranienbaum', serif; padding:0; margin:0; font-size:18px; line-height:20px; text-transform:uppercase; font-weight:400; letter-spacing:3px}
    article[role="countdown"].countdown-pan h2 > span{ font-size:36px; line-height:38px; position:relative; letter-spacing:inherit; display:inline-block}
    article[role="countdown"].countdown-pan h2 > span:after{ content:""; display:block; width:98px; height:3px; position:absolute; left:0; right:0; bottom:-5px; margin:0 auto; background-color:#e84d49}
    article[role="countdown"].countdown-pan > p{font-size: 8px;text-transform:uppercase;font-weight: 300;letter-spacing:1px;margin:0;padding:0;padding-top: 5px;}
    
	article.introduction-pan[role="introduction"]{margin-top: 64px;background-color: rgba(255,255,255,0.8);padding: 25px;}
    
}